table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    border: 2px solid #badafa;
    /* margin-left: 10%; */
}

th,
td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #08335c;
    margin: 5px;
}

h2 {
    text-align: center;
}

th {
    background-color: #badafa;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 0px;
}

tr:hover {
    background-color: #dfedff;
}

/* Style the profile and verify buttons */



.accept {
    color: white;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 2px;

}

.reject {
    color: white;
    background-color: #f44336;
    border: 2px solid #f44336;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 2px;
}

/* Style the accept and reject buttons */
.accept:hover {
    color: #4CAF50;
    background-color: white;
    border: 2px solid #4CAF50;
}

.reject:hover {
    color: #f44336;
    border: 2px solid #f44336;
    background-color: white;

}