<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/404-2.css">
    <title>404-2</title>
</head>
<body>
    
    <div class="container">
        <img src="../assets/images/404.svg" alt="..." class="img-fluid">

        <div class="error1"> Ohh! Page Not Found </div>
        <div class="error2"> We can’t seem to find the page you’re looking for</div>

       <a href="#"> <div class="home"> Back to Home </div> </a> 
    </div>
</body>
</html>