<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutus.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <a href="/"><h2 class="home">Placement Daiict</h2></a>
        <nav>
            <ul class = "nav_links">
                <li class="tag"><a href="/loginPage">Login</a></li>
                <li class="tag"><a href="/registerPage">Register</a></li>
                <li class="tag"><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="spc"></div>
    <section class="main">
        <div>
            <p>
                Dhirubhai Ambani Institute of Information and Communication Technology (DA-IICT) is a University established under an Act of Gujarat State Legislature and recognized by the University Grants Commission and Association of Indian Universities. It is a university devoted to the Information and Communication Technology. Established by the Reliance Group, DA-IICT is widely seen as an institution 'with a difference' in terms of its academic programs, faculty profiles and overall ambience. In a short period of fifteen years, it is consistently ranked as one of the best technological institutes in the country in the fields of computer science, electronics and communication engineering and information technology.
            </p>
            <p>
                DA-IICT offers a unique B. Tech. Program in Information and Communication Technology, B. Tech (ICT with minors in Computational Science) and four post-graduate programs - M.Tech. (ICT), M.Sc. (IT), M.Sc. (ICT - ARD) and M.Des. (CD). The curriculum of theses programs are carefully designed in consultation with industry experts to ensure that they are relevant to industry and society. DA-IICT is also deeply committed to seeing its students as responsible citizens and its social science courses and the rural internship program are designed to give a strong sense of cultural roots and social questions to the students.
            </p>
            <p>
                The Placement Cell at DA-IICT works professionally with the Industry to explore opportunities for DA-IICT graduates for placements. The Cell makes its best efforts to reach out to all sub-sectors of the industry in order to ensure that DA-IICT graduates spread across the industry.
            </p>
        </div>
        <div class="btn">
            <button>
              Placement Brochure
            </button>
        </div>
    </section>

    <div class="contact">
        <h2>Contact Details : </h2>
        <br>
        E-Mail : <li>placement@daiict.ac.in</li>
                <li>sneha_thakker@daiict.ac.in</li>
        <br>
        Phone:
        <li>(O)+91 (79) 68261616</li>
        <li>(M) +91 93289 94143</li>
    </div>
    <footer>
        &copy; 2023 Placement Website. All Rights Reserved.
    </footer>
</body>
</html>