<!doctype html>
<html lang="en">
  <head>
  	<title>Admin Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="../assets/css/adminhome.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(../assets/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(../assets/images/logo.jpg);"></div>
	  				<h3>Admin</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-check mr-3" aria-hidden="true"></i> Verify Students</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-pencil-square-o mr-3" aria-hidden="true"></i> Edit Jobs</a>
          </li>
          <li>
            <a href="verifyjobs.html"><i class="fa fa-briefcase mr-3" aria-hidden="true"></i> Verify Jobs</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-building-o mr-3" aria-hidden="true"></i> Verify Company</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Logout</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Admin Home</h2>
        <div class="cover"></div>
        <h2 class="headline">Placement Statistics for current year:</h2>
        <div class="main">
          <div id="myChart" class="chart"></div>
          <div id="myChart1" class="chart"></div>
          <div class="box box1">Highest Package Offered : 50 LPA</div>
          <div class="box box2">Average Placement Package : 20 LPA</div>

        </div>
      </div>
		</div>

    <script src="../assets/js/adminhome.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>