<!DOCTYPE html>
<html lang="en">


<head>
    <title>Admin Verification</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/admin_verification.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="homescreen.html">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="header">
            <h1>Admin Verification</h1>
        </div>
    </section>

    <section class="list1">
        <div class="Verification" id="Admin">
            <div class="list">

                <p> <b> Admin name: </b>
                    a
                </p>

                <br>
                <p> <b>xyz:</b>
                    SDE
                </p>
                <br>
                <p> <b> xyz:</b>
                    BTech
                </p>
                <br>
                <p> <b> xyz:</b>
                    2024
                </p>
                <br>
                <p>
                    <button class="button button1">Accept</button>
                    <button class="button button1">Reject</button>
                </p>

                <!-- <hr>
                <p> <b> Admin name: </b>
                    a
                </p>

                <br>
                <p> <b>xyz:</b>
                    SDE
                </p>
                <br>
                <p> <b> xyz:</b>
                    BTech
                </p>
                <br>
                <p> <b> xyz:</b>
                    2024
                </p>
                <br>
                <p>
                    <button class="button button1">Accept</button>
                    <button class="button button1">Reject</button>
                </p>

                <hr>
                <p> <b> Admin name: </b>
                    a
                </p>

                <br>
                <p> <b>xyz:</b>
                    SDE
                </p>
                <br>
                <p> <b> xyz:</b>
                    BTech
                </p>
                <br>
                <p> <b> xyz:</b>
                    2024
                </p>
                <br>
                <p>
                    <button class="button button1">Accept</button>
                    <button class="button button1">Reject</button>
                </p>
                <hr>
                <p> <b> Admin name: </b>
                    a
                </p>

                <br>
                <p> <b>xyz:</b>
                    SDE
                </p>
                <br>
                <p> <b> xyz:</b>
                    BTech
                </p>
                <br>
                <p> <b> xyz:</b>
                    2024
                </p>
                <br>
                <p>
                    <button class="button button1">Accept</button>
                    <button class="button button1">Reject</button>
                </p>

                <hr>
                <p> <b> Admin name: </b>
                    a
                </p>

                <br>
                <p> <b>xyz:</b>
                    SDE
                </p>
                <br>
                <p> <b> xyz:</b>
                    BTech
                </p>
                <br>
                <p> <b> xyz:</b>
                    2024
                </p>
                <br>
                <p>
                    <button class="button button1">Accept</button>
                    <button class="button button1">Reject</button>
                </p> -->

            </div>

        </div>
    </section>



    <footer>
        <h3>You can contact us at:</h3>
        <p>Mail : placement@daiict.ac.in
            <br>(M) : +91 9999976896
        </p>
        <p>&copy; 2023 Placement Website. All Rights Reserved.</p>
    </footer>

</body>
<script src="./allJobs.js"></script>



</html>
