<!doctype html>
<html lang="en">

<head>
  <title>Sidebar 09</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
    
      <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(images/logo.jpg);"></div>
          <h3>Catriona Henderson</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-download mr-3 notif"><small
                class="d-flex align-items-center justify-content-center">5</small></span> Download</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-gift mr-3"></span> Gift Code</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-trophy mr-3"></span> Top Review</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
      </ul>

    </nav>

   

    <body>
      <div id="content" class="p-4 p-md-5 pt-5">
        <!-- <h2 class="mb-4">Welcome, Mr. XYZ </h2>
   -->
        <table class="table">
          <thead class=" text-primary">
          </thead>
          <tbody>
            <tr>
              <td> Company Name </td>
              <td>Criteria </td>
              <td> CTC </td>
              <td> Open For</td>
              <td> Status </td>
              <td>Register</td>
            
            </tr>

            <tr>
              <td> Google </td>
              <td> 6.5</td>
              <td> 30 Lakh</td>
              <td> BTech,Mtech, MSC</td>
              <td> Open /Closed</td>
              <td><a href="#"><button type="button" class="button">Register</button></a></td>
            </tr>

            <tr>
              <td> Google </td>
              <td> 6.5</td>
              <td> 30 Lakh</td>
              <td> BTech,Mtech, MSC</td>
              <td> Open /Closed</td>
              <td><a href="#"><button type="button" class="button">Register</button></a></td>
            </tr>

            <tr>
              <td> Sprinklr </td>
              <td> -</td>
              <td> 42 Lakh</td>
              <td> BTech,Mtech, MSC</td>
              <td> Open /Closed</td>
              <td><a href="#"><button type="button" class="button">Register</button></a></td>
            </tr>

            <tr>
              <td> D.E.Shaw </td>
              <td> 6.5</td>
              <td> 52 Lakh</td>
              <td> BTech,Mtech, MSC</td>
              <td> Open /Closed</td>
              <td><a href="#"><button type="button" class="button">Register</button></a></td>
            </tr>

            <tr>
              <td> Microsoft </td>
              <td> 7</td>
              <td> 55 Lakh</td>
              <td> BTech,Mtech</td>
              <td> Open /Closed</td>
              <td><a href="#"><button type="button" class="button">Register</button></a></td>
            </tr>

           </tbody>
        </table>
  
      </div>
    
     
       
      </body>
  <!-- </div> -->

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>