<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="companyls.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <h1> DAIICT </h1>
    </nav>
    

    <div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Edit Profile</a>
        <a href="#clients">View Company</a>
        <a href="#contact">Logout</a>
        <a href="#">Contact</a>
      </div>
      <h1>Company on Campus</h1>
      <div class = "flex-container ">
        <div class = "box dropbtn">
            <p class="info"> Company Name : Google <br> <br> Job Role : SDE</p>
            <p class="info"> CPI Criteria : 7 <br> <br> CTC : 25 LPA</p>
            <p class="info"> Open Date : 00/00/00 <br> <br> Close Date : 00/00/00 </p>
            <button class="Reg">Register</button>
            <button class="Dereg">De-register</button>
        </div>
        
      </div>
      <div class = "flex-container">
        <div class = "box">
            <p class="info"> Company Name : Google <br> <br> Job Role : SDE</p>
            <p class="info"> CPI Criteria : 7 <br> <br> CTC : 25 LPA</p>
            <p class="info"> Open Date : 00/00/00 <br> <br> Close Date : 00/00/00 </p>
            <button class="Reg">Register</button>
            <button class="Dereg">De-register</button>
        </div>
      </div>
      
      
    
</body>
</html>