<!doctype html>
<html lang="en">

<head>
    <title> Comany Information </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
        integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/companyInformation.css">

</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(../assets/images/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" style="background-image: url(../assets/images/logo.jpg);"></div>
                    <h3>Catriona Henderson</h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="Home.html"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li>
                    <a href="studentProfile.html"><span class="fa fa-user mr-3"></span>Profile</a>
                </li>
                <li>
                    <a href="studentEditProfile.html"><span class="fa fa-pencil-square-o mr-3"></span>Edit Profile</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cloud-upload mr-3"></span>Update Resume</a>
                </li>
                <li class="active">
                    <a href="studentCompanyDetails.html"><span class="fa fa-list mr-3"></span>Companies</a>
                </li>
                <!-- <li>
                    <a href="AboutUS.html"><span class="fa fa-info mr-3"></span> About Us</a>
                </li> -->
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span>Logout</a>
                </li>
            </ul>

        </nav>


        <div id="Comany-Profile" class="p-4 p-md-5 pt-5">
            <a href="studentCompanyDetails.html">
                <button type="button" class="btn btn-primary">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>Back</button></a>

            <table class="table">
                <tr>
                    <td> Company Name </td>
                    <td>:</td>
                    <td> Google </td>
                </tr>
                <tr>
                    <td>Offer Type </td>
                    <td>:</td>
                    <td> Job, Summer Internship </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>:</td>
                    <td>Bangalore </td>
                </tr>
                <tr>
                    <td>Placement Drive Start </td>
                    <td>:</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>Placement Drive End </td>
                    <td>:</td>
                    <td>Date </td>
                </tr>
                <tr>
                    <td>Criteria</td>
                    <td>:</td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Open For</td>
                    <td>:</td>
                    <td>BTech</td>
                </tr>
                <tr>
                    <td>Profile Details</td>
                    <td>:</td>
                    <td><strong>Profile 1 :</strong> <br><strong> Name : </strong>Software Engineer<br><strong>
                            Description : </strong>
                        <br><strong> UG Package(LPA):
                        </strong>52.75<br><strong> PG Package(LPA): </strong>54.22<br><strong> Stipend:
                        </strong>1,10,000<br>
                    </td>
                </tr>
                <tr>
                    <td>Bond Details
                    </td>
                    <td>:</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>Job Description Files</td>
                    <td>:</td>
                    <td><span>"Job Description Files"</span><a href="#"><button type="button"
                                class="button">Download</button></a></td>
                </tr>

            </table>
            

        </div>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>