<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="Filter_style.css">
</head>
<body>
    <section class="left-section">
        <div class="filter-form">
            <h4 class="sub-header">Apply Filters</h4>
            <form action="/searchJobs" method="post">
                <br>
                <p>Job Name</p>
                <select name="jobname" id="jobname">
                    <option value="Any" selected="">Any</option>
                    <option value="summer"> Summer Internship </option>
                    <option value="jobb"> Job </option>
                </select>
                <br>
                <p>Posting Location</p>
                <select name="locations" id="location">
                    <option value="Any" selected="">Any</option>
                    <option value="Banglore"> Banglore </option>
                    <option value="Chennai"> Chennai </option>
                    <option value="Hyderabad"> Hyderabad </option>
                    <option value="Pune"> Pune </option>
                    <option value="Mumbai"> Mumbai </option>
                    <option value="Delhi"> Delhi </option>
                    <option value="Gurgaon"> Gurgaon </option>
                </select>
                <br>
                <p>UG Criteria</p>
                <select name="ug" id="ug">
                    <option value="Any" selected="">Any</option>
                    <option value="ict"> BTech ICT </option>
                    <option value="cs"> BTech ICT with CS </option>
                    <option value="mnc"> BTech MNC </option>
                    <option value="mtech"> MTech </option>
                </select>
                <br>
                <p>CPI Criteria</p>
                <select name="cpi" id="cpi">
                    <option value="Any" selected="">Any</option>
                    <option value=">6"> &gt; 6 </option>
                    <option value=">7"> &gt; 7 </option>
                    <option value=">7.5"> &gt; 7.5 </option>
                    <option value=">8"> &gt; 8 </option>
                </select>
                <br>
                <p>CTC in lpa</p>
                <select name="ctc" id="ctc">
                    <option value="Any" selected="">Any</option>
                    <option value=">30"> &gt; 30 </option>
                    <option value="20-30"> 20 to 30 </option>
                    <option value="10-20"> 10 to 20 </option>
                    <option value="5-10"> 5 to 10 </option>
                    <option value="<5"> &lt; 5 </option>
                </select>
                <br>
                <button type="submit">Search</button>
            </form>
        </div>
    </section>
    <section class="right-section">
        <div class="job-cards-containers" id="job">
            <div class="header">

                 
                <h1 style="text-align: center;">You are eligible for the following jobs</h1>
                <br>
                <!-- <h3>Jobs found: 1 </h3> -->
                 
            </div>
            <div class="job-card">
                <table>
                <!-- <th>Jobs</th> -->
                    <tr>
                        <td> Company Name </td>  
                        <td> Job Name </td>
                        <td> Posting Location </td>
                        <td> UG Criteria </td>
                        <td> CPI Criteria </td>
                        <td> CTC (in lpa) </td>
                        <td> Description </td>
                        <td> Start Date </td>
                        <td> End Date </td>
                        <td> Variefied </td>
                    </tr>
                    <tr>
                        <td>Random</td>  
                        <td> Summer Internship </td>
                        <td> Banglore, Mumbai </td>
                        <td> BTech ICT </td>
                        <td> 7 </td>
                        <td> 25 </td>
                        <td> Not Now </td>
                        <td> 25/05/22 </td>
                        <td> 27/05/22 </td>
                        <td> Yes </td>
                    </tr>
                </table>    
                    <br>
                     
            </div>

        </div>
        <script src="applyLink.js"></script>
    </section>
</body>
</html>
