<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="left-section">
        <div class="filter-form">
            <h4 class="sub-header">Apply Filters</h4>
            <form action="/searchJobs" method="post">
                <br>
                <p>Job location</p>
                <select name="locations" id="location">
                    <option value="Any" selected="">Any</option>
                    <option value="Banglore"> Banglore </option>
                    <option value="Chennai"> Chennai </option>
                    <option value="Hyderabad"> Hyderabad </option>
                    <option value="Pune"> Pune </option>
                    <option value="Mumbai"> Mumbai </option>
                    <option value="Delhi"> Delhi </option>
                    <option value="Gurgaon"> Gurgaon </option>
                </select>
                <br>
                <p>CPI</p>
                <select name="cpi" id="cpi">
                    <option value="Any" selected="">Any</option>
                    <option value=">6"> &gt; 6 </option>
                    <option value=">7"> &gt; 7 </option>
                    <option value=">7.5"> &gt; 7.5 </option>
                    <option value=">8"> &gt; 8 </option>
                </select>
                <br>
                <p>CTC in lpa</p>
                <select name="ctc" id="ctc">
                    <option value="Any" selected="">Any</option>
                    <option value=">30"> &gt; 30 </option>
                    <option value="20-30"> 20 to 30 </option>
                    <option value="10-20"> 10 to 20 </option>
                    <option value="5-10"> 5 to 10 </option>
                    <option value="<5"> &lt; 5 </option>
                </select>
                <br>
                <p>Job type</p>
                <select name="jobtype" id="jobtype">
                    <option value="Any" selected="">Any</option>
                    <option value="summer"> Summer Internship </option>
                    <option value="jobb"> Job </option>
                </select>
                <br>
                <button type="submit">Search</button>
            </form>
        </div>
    </section>
    <section class="right-section">
        <div class="job-cards-containers" id="job">
            <div class="header">

                 
                <h1>You are eligible for the following jobs</h1>
                <br>
                <h3>Jobs found: 1 </h3>
                 
            </div>
            <div class="job-card">

                 

                 
                    <br>
                    <p> <b>  Company name: </b>63e4ed4c71de831c2c49128b </p>
                    <br>
                    <p> <b>Position:</b> SDE </p> 
                    <br>
                    <p> <b> Degrees:</b> BTech </p> 
                    <br>
                    <p> <b> Passout years:</b>  2024 </p> 
                    <br>
                    <p> <b> Required CPI out of 10: </b> 7 </p> 
                    <br>
                    <p> <b>CTC: </b> 25 </p> 
                    <br>
                    <p> <b> Locations:</b> Banglore,Mumbai </p> 
                    <br>
                    <p> <b> Job apply URL: </b> <a id="link" href="https://jobs.giriraj.com">Click here </a>  </p>
                    <br>
                    <br>
                     
                    <br>
                     
            </div>

        </div>
        <script src="applyLink.js"></script>
    </section>
</body>
</html>
