<!DOCTYPE html>
<html>
  <head>
    <title>Placement Website</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/homescr_style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Login / Register</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </header>
    
    <section id="hero">
      <h1>Welcome to the Placement Website</h1>
    </section>
    
    <section id="placementstats">
      <h2>Placement Statistics </h2>
      <section id = service><img src="../assets/img/placement_stats.png" alt="Placement statistics image"></section>
    </section>
    
    <footer>
      <h3>You can contact us at:</h3>
      <p>Mail : placement@daiict.ac.in
      <br>(M)  : +91 9999976896 </p>
      <p>&copy; 2023 Placement Website. All Rights Reserved.</p>
    </footer>
  </body>
</html>
