<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Classic Login Form Example</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/login.css">

</head>

<body>
    <section class='login' id='login'>
        <div class='head'>
            <h1 class='company'>Login</h1>
        </div>
        <div class='form'>
            <form action="" method="">
                <input type="text" placeholder='Username' class='text' id='username' required><br>
                <input type="password" placeholder='Enter password' class='password' required><br>

                <input type="radio" id="Student" name="fav_language" value="Student" required>
                <label for="html">Student</label><br>
                <input type="radio" id="Admin" name="fav_language" value="Admin" required>
                <label for="css">Admin</label><br>
                <input type="radio" id="Placement-Manager" name="fav_language" value="Placement-Manager" required>
                <label for="css">Placement Manager</label><br>
                <br>
                <a href="#" class='btn-login' id='do-login'>Login</a>
                <!-- <a href="#" class='forgot'>Forgot?</a> -->
            </form>
            <hr>

            <form action="" method="" id="register">
                <input type="radio" id="Student" name="fav_language" value="Student" required>
                <label for="html">Student</label><br>
                <input type="radio" id="Admin" name="fav_language" value="Admin" required>
                <label for="css">Admin</label><br>
                <br>
                <a href="#" class='btn-login' id='do-login'>Register</a>
            </form>
        </div>
    </section>

</body>

</html>
