<!doctype html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="login.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(images/logo.jpg);"></div>
          <h3>Welcome To Placement Cell</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-info mr-3"></span> About Us</a>
        </li>
      </ul>
    </nav>

    <div id="login-form-wrap" class="login">
      
      <h2>Login</h2>
      <form id="login-form" method="">
        <p>
          <input type="text" id="username" name="username" placeholder="Username" required>
          <i class="validation"><span></span><span></span></i>
        </p>
        <p>
          <input type="password" id="password" name="password" placeholder='Enter password' required>
          <i class="validation"><span></span><span></span></i>
        </p>
        <p id="gender">
          <input type="radio" id="Student" name="fav_language" value="Student" required>
          <label for="html">Student</label>

          <input type="radio" id="Admin" name="fav_language" value="Admin" required>
          <label for="css">Admin</label>

          <input type="radio" id="Placement-Manager" name="fav_language" value="Placement-Manager" required>
          <label for="css">Placement Manager</label>
        </p>
        <p>
          <input type="submit" id="login" value="Login">
        </p>
      </form>
      
      <br>
      <hr>
      
      <h2>Register</h2>
      <form id="login-form" method="">
        <p id="Register">
          <input type="radio" id="Student" name="fav_language" value="Student" required>
          <label for="html">Student</label>

          <input type="radio" id="Admin" name="fav_language" value="Admin" required>
          <label for="css">Admin</label>

          <input type="radio" id="Placement-Manager" name="fav_language" value="Placement-Manager" required>
          <label for="css">Placement Manager</label>
        </p>
        <p>
          <input type="submit" id="login" value="Register">
        </p>
      </form>
      
    </div>
  </div>
  
</body>

  
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  
</html>
