.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .main { 
      left: 200px; 
      padding-left: 200px;
      padding-bottom: 150px;
  }
  .first_row_left{
      width: 650px;
      padding: right 100px;
      display: inline-block;
      
  }
  
  .first_row_right{
      width: 650px;
      display: inline-block;
     text-align: center;
      
  }
  .foote {
    position: fixed;
    background-color: rgb(10, 166, 228);
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 200px;
   
    color: black;
    text-align: center;
  }
  
  .frs{
      padding-top : 10px;
      padding-right:100px;
      padding-bottom: 10px;
  }
   
  .first_row{
      position: fixed;
      height: 67.03px;
      background-color: rgb(10, 166, 228)  ; 
  }
  .table{
      top:80px;
      padding-top:80px;
      
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .navbar{
      position: fixed;
      text-align: center ;   
      width: 200px;
      background-color: rgb(14, 192, 121);
      border-radius: 15px;
  }