<!doctype html>
<html lang="en">

<!-- Major Change in CSS required -->
<head>
  <title>Register Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/register_company.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(../assets/images/bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(../assets/images/logo.jpg);"></div>
          <h3>Welcome</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="Home.html"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <!-- <li>
          <a href="#"><span class="fa-solid fa-user mr-3"></span> Profile</a>
        </li>
        <li>
          <a href="#"><span class="fa-solid fa-user-pen mr-3 notif"></span> Edit Profile</a>
        </li>
        <li>
          <a href="#"><span class="fa-solid fa-plus mr-3"></span> Add Job</a>
        </li>
        <li>
          <a href="#"><span class="fa-solid fa-pen-to-square mr-3"></span> Edit Job</a>
        </li>
        <li>
          <a href="#"><span class="fa-solid fa-list mr-3"></span> Student list</a>
        </li>
        <li>
          <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li> -->
      </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
     
      <div class="box">

        <form action="#add_company_submit" method="POST">

          <div class="title1">

            <a> Registration Company: </a>

          </div>


          <label for="hrname" class="label-1"> Name </label>

          <div class="form-group">
            
            <input type="text" name="hrname" id="browser" autocomplete="off" required>


          </div>


          <label for="Company" class="label-1"> Company Name </label>

          <div class="form-group">
            <input type="text" name="company" id="browser" autocomplete="off" required>


          </div>



          <label for="email" class="label-1"> Email</label>

          <div class="form-group">
            <input type="text" name="email" id="browser" autocomplete="off" required>

          </div>


          <label for="website" class="label-1"> Website </label>

          <div class="form-group">
            <input type="text" name="website" id="browser" autocomplete="off" required>


          </div>


          <label for="contact" class="label-1"> Contact No. </label>

          <div class="form-group">

            <input type="text" name="salary" id="browser" autocomplete="off" required>


          </div>


          <label for="password" class="label-1"> Password </label>

          <div class="form-group">
            <input type="password" name="password" id="browser" autocomplete="off" required>

          </div>

          <div class="form-group2" class="label-1">

            <ul>

              <li>
                Your password must contain at least 8 characters.
              </li>



              <li>
                Your password can’t be entirely numeric.

              </li>

              <li>

                Your password must use special characters.
              </li>




            </ul>





          </div>

          <label for="password" class="label-1"> Password confirmation </label>

          <div class="form-group">
            <input type="password" name="password" id="browser" autocomplete="off" required>

          </div>





          <div class="btns">
            <button type="submit" class="strong"> Add Company</button>
          </div>





        </form>
     

      </div>
    </div>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>