<!doctype html>
<html lang="en">

<head>
  <title>Student Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/studentProfile.css">

</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(../assets/images/bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(../assets/images/logo.jpg);"></div>
          <h3>Catriona Henderson</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-user mr-3"></span> Profile</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-pencil-square-o mr-3"></span>Edit Profile</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-cloud-upload mr-3"></span> Update Resume</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-list mr-3"></span>Companies</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-info mr-3"></span> About Us</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-sign-out mr-3"></span>Sign Out</a>
        </li>
      </ul>

    </nav>


    <div id="Profile" class="p-4 p-md-5 pt-5">

      <div class="userimage">
        <h2 class="mb-4">Welcome ,<span> Name </span></h2>
        <div><img src="../assets/images/logo.jpg " alt="Student-image" id="photo"> </div>
      </div>

      <table class="table">
        <tr>
          <td> Student ID </td>
          <td>:</td>
          <td> 202009999 </td>
        </tr>
        <tr>
          <td>First Name </td>
          <td>:</td>
          <td> Name </td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td>:</td>
          <td>Name </td>
        </tr>
        <tr>
          <td>Last Name </td>
          <td>:</td>
          <td>Name </td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td>:</td>
          <td>202009999@institute.com</td>
        </tr>
        <tr>
          <td>Alternative Email Address</td>
          <td>:</td>
          <td>202009999@abcd.com</td>
        </tr>
        <tr>
          <td>Date Of Birth</td>
          <td>:</td>
          <td>01-01-2002</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>:</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>Mobile Nnumber</td>
          <td>:</td>
          <td>1234567890</td>
        </tr>
        <tr>
          <td>Alternative Mobile Nnumber</td>
          <td>:</td>
          <td>1234567890</td>
        </tr>
        <tr>
          <td>Father Name </td>
          <td>:</td>
          <td> Name </td>
        </tr>
        <tr>
          <td>Father Mobile Nnumber</td>
          <td>:</td>
          <td>1234567890</td>
        </tr>
        <tr>
          <td>10th Percentage</td>
          <td>:</td>
          <td>90%</td>
        </tr>
        <tr>
          <td>12th Percentage</td>
          <td>:</td>
          <td>90%</td>
        </tr>
        <tr>
          <td>CGPA</td>
          <td>:</td>
          <td>8.54</td>
        </tr>
        <tr>
          <td>Current Backlogs</td>
          <td>:</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Total Backlogs</td>
          <td>:</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Resume</td>
          <td>:</td>
          <td><span>"name"</span><a href="#"><button type="button" class="button">View</button></a></td>
        </tr>
      </table>

    </div>
  </div>

  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/popper.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/main.js"></script>
</body>

</html>