<doctype html>
    <html lang="en">

    <head>
        <title>Filter Company</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/companyDetails.css">

    </head>

    <body>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    </button>
                </div>
                <div class="img bg-wrap text-center py-4" style="background-image: url(../assets/images/bg_1.jpg);">
                    <div class="user-logo">
                        <div class="img" style="background-image: url(../assets/images/logo.jpg);"></div>
                        <h3>Catriona Henderson</h3>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="Home.html"><span class="fa fa-home mr-3"></span>Home</a>
                    </li>
                    <li>
                        <a href="studentProfile.html"><span class="fa fa-user mr-3"></span> Profile</a>
                    </li>
                    <li>
                        <a href="studentEditProfile.html"><span class="fa fa-pencil-square-o mr-3"></span>Edit Profile</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-cloud-upload mr-3"></span>Update Resume</a>
                    </li>
                    <li class="active">
                        <a href="#"><span class="fa fa-list mr-3"></span>Companies</a>
                    </li>
                    <!-- <li>
                        <a href="AboutUS.html"><span class="fa fa-info mr-3"></span> About Us</a>
                    </li> -->
                    <li>
                        <a href="#"><span class="fa fa-sign-out mr-3"></span>Logout</a>
                    </li>
                </ul>

            </nav>

            <div id="Company" class="p-4 p-md-5 pt-5">
                <table class="table table-hover fil ter">
                    <tr>
                        <td>Company
                            <select name="" id="Company_Name">
                                <option value="">Select</option>
                                <option value="">Google</option>
                                <option value="">Sprinklr</option>
                                <option value="">Microsoft</option>
                            </select>
                        </td>
                        <td>Criteria
                            <select name="" id="Criteria">
                                <option value="">Select</option>
                                <option value="">9</option>
                                <option value="">8</option>
                                <option value="">7</option>
                                <option value="">6</option>
                                <option value="">Below 6</option>
                            </select>
                        </td>
                        <td>CTC
                            <select name="" id="CTC">
                                <option value="">Select</option>
                                <option value="">Above 50 LPA</option>
                                <option value="">Above 40 LPA</option>
                                <option value="">Above 30 LPA</option>
                                <option value="">Above 20 LPA</option>
                                <option value="">Above 10 LPA</option>
                                <option value="">Below 10 LPA</option>
                            </select>
                        </td>
                        <td>Status
                            <select name="" id="Compant_Name">
                                <option value="">Select</option>
                                <option value="">Registered</option>
                                <option value="">Unregistred</option>
                            </select>
                        </td>
                        <td>
                            <a href="#"><button type="button " class="btn btn-primary">Apply</button></a>
                        </td>
                    </tr>
                </table>
                <table class="table table-hover">
                    <tbody>
                        <tr class="dark">
                            <td> Company Name </td>
                            <td>Criteria </td>
                            <td> CTC </td>
                            <td> Open For</td>
                            <td> Status </td>
                            <td>Register</td>

                        </tr>
                        <a href="companyInformation.html"> 
                        <tr id="Google">
                            <td> Google </td>
                            <td> 6.5</td>
                            <td> 30 Lakh</td>
                            <td> BTech,Mtech, MSC</td>
                            <td> Open /Closed</td>
                            <td><a href="#"><button type="button " class="btn btn-primary">Register</button></a></td>
                        </tr>
                        </a>

                        <tr id="Sprinklr">
                            <td> <a href="#"> Sprinklr</a> </td>
                            <td> -</td>
                            <td> 42 Lakh</td>
                            <td> BTech,Mtech, MSC</td>
                            <td> Open /Closed</td>
                            <td><a href="#"><button type="button" class="btn btn-primary">Register</button></a></td>
                        </tr>
                        <tr id=" DEShaw">
                            <td> <a href="#"> D.E.Shaw</a> </td>
                            <td> 6.5</td>
                            <td> 52 Lakh</td>D
                            <td> BTech,Mtech, MSC</td>
                            <td> Open /Closed</td>
                            <td><a href="#"><button type="button" class="btn btn-primary">Register</button></a></td>
                        </tr>

                        <tr id="Microsoft">
                            <td> <a href="#"> Microsoft</a> </td>
                            <td> 7</td>
                            <td> 55 Lakh</td>
                            <td> BTech,Mtech</td>
                            <td> Open /Closed</td>
                            <td><a href="#"><button type="button" class="btn btn-primary">Register</button></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </body>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>

    </html>