<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/add-r.css"
      rel="stylesheet"
    />

    <script type="text/javascript">
      function showHidden(row) {
        $("." + row).toggle();
      }
    </script>
  </head>

  <body>
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a class="nav-brand text-dark">VERIFY JOB</a>
          </div>
        </div>
      </nav>
    </header>

    <main id="site-main">
      <div class="container">
        <div class="header-group">
          <label for="COMPANY" class="text-dark"> COMPANY </label>

          <input
            type="text"
            name="COMPANY"
            autocomplete="off"
            placeholder="Google"
          />

          <label for="JOB-NAME" class="text-dark"> JOB-NAME </label>

          <input
            type="text"
            name="JOB-NAME"
            autocomplete="off"
            placeholder="Full-stack"
          />

          <a onclick="showHidden('class1');">
            <span class="text-gradient border-shadow">
              <i class="fa-sharp fa-solid fa-square-plus"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="hiddenRow1 class1">
        <form action="/" method="post" id="update_user">
          <div class="new_user">
            <!-- <div class="form-group"> -->

            <label for="Open-For" class="text-dark"> Open-For</label>
            <input type="hidden" name="id" value="" />
            <input
              type="text"
              name="Open-For"
              value=""
              placeholder="Job open for"
              autocomplete="off"
            />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
            <label for="PostingLocation" class="text-dark">
              PostingLocation</label
            >

            <input
              type="text"
              name="PostingLocation"
              value=""
              placeholder="Location"
              autocomplete="off"
            />
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="Criteria" class="text-dark"> Criteria </label>

            <input
              type="text"
              name="Criteria"
              placeholder="CPI criteria"
              autocomplete="off"
            />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
            <label for="package" class="text-dark"> CTC </label>

            <input
              type="text"
              name="package"
              placeholder="50 Lakh"
              autocomplete="off"
            />
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="Job-Discription" class="text-dark">
              Job-Discription
            </label>

            <input
              type="text"
              name="Job-Discription"
              placeholder="Discription"
              autocomplete="off"
            />
            <!-- </div> -->
          </div>
          <div class="btn1">
            <button type="submit" class="btns">Verify</button>
            <button type="submit" class="btns">Reject</button>
          </div>
        </form>
      </div>

      <div class="container">
        <div class="header-group">
          <label for="COMPANY" class="text-dark"> COMPANY </label>

          <input
            type="text"
            name="COMPANY"
            autocomplete="off"
            placeholder="Sprinklr"
          />

          <label for="JOB-NAME" class="text-dark"> JOB-NAME </label>

          <input
            type="text"
            name="JOB-NAME"
            autocomplete="off"
            placeholder="Front-end"
          />

          <a onclick="showHidden('class2');">
            <span class="text-gradient border-shadow">
              <i class="fa-sharp fa-solid fa-square-plus"></i
            ></span>
          </a>
        </div>
      </div>

      <div class="hiddenRow1 class2">
        <form action="/" method="post" id="update_user">
          <div class="new_user">
            <!-- <div class="form-group"> -->

            <label for="Open-For" class="text-dark"> Open-For</label>
            <input type="hidden" name="id" value="" />
            <input
              type="text"
              name="Open-For"
              value=""
              placeholder="Job open for"
              autocomplete="off"
            />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
            <label for="PostingLocation" class="text-dark">
              PostingLocation</label
            >

            <input
              type="text"
              name="PostingLocation"
              value=""
              placeholder="Location"
              autocomplete="off"
            />
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="Criteria" class="text-dark"> Criteria </label>

            <input
              type="text"
              name="Criteria"
              placeholder="CPI criteria"
              autocomplete="off"
            />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
            <label for="package" class="text-dark"> CTC </label>

            <input
              type="text"
              name="package"
              placeholder="50 Lakh"
              autocomplete="off"
            />
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="Job-Discription" class="text-dark">
              Job-Discription
            </label>

            <input
              type="text"
              name="Job-Discription"
              placeholder="Discription"
              autocomplete="off"
            />
            <!-- </div> -->
          </div>
          <div class="btn1">
            <button type="submit" class="btns">Verify</button>
            <button type="submit" class="btns">Reject</button>
          </div>
        </form>
      </div>

      <div class="container">
        <div class="header-group">
          <label for="COMPANY" class="text-dark"> COMPANY</label>

          <input
            type="text"
            name="COMPANY"
            autocomplete="off"
            placeholder="D.E.shaw"
          />

          <label for="JOB-NAME " class="text-dark"> JOB-NAME </label>

          <input
            type="text"
            name="JOB-NAME "
            autocomplete="off"
            placeholder="Backend-developer"
          />

          <a onclick="showHidden('class3');">
            <span class="text-gradient border-shadow">
              <i class="fa-sharp fa-solid fa-square-plus"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="hiddenRow1 class3">
        <form action="/" method="post" id="update_user">
          <div class="new_user">
            <!-- <div class="form-group"> -->

            <label for="Open-For" class="text-dark"> Open-For</label>
            <input type="hidden" name="id" value="" />
            <input
              type="text"
              name="Open-For"
              value=""
              placeholder="Job open for"
              autocomplete="off"
            />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
            <label for="PostingLocation" class="text-dark">
              PostingLocation</label
            >

            <input
              type="text"
              name="PostingLocation"
              value=""
              placeholder="Location"
              autocomplete="off"
            />
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="Criteria" class="text-dark"> Criteria </label>

            <input
              type="text"
              name="Criteria"
              placeholder="CPI criteria"
              autocomplete="off"
            />
            <!-- </div> -->
            <!-- <div class="form-group"> -->
            <label for="package" class="text-dark"> CTC </label>

            <input
              type="text"
              name="package"
              placeholder="50 Lakh"
              autocomplete="off"
            />
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="Job-Discription" class="text-dark">
              Job-Discription
            </label>

            <input
              type="text"
              name="Job-Discription"
              placeholder="Discription"
              autocomplete="off"
            />
            <!-- </div> -->
          </div>
          <div class="btn1">
            <button type="submit" class="btns">Verify</button>
            <button type="submit" class="btns">Reject</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
