<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="verify_student.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/add-r.css' rel='stylesheet'>

  <script type="text/javascript">




    function showHidden(row) {

      $('.' + row).toggle()
    }
  </script>



</head>

<body>

  <header id="header">
    <nav>
      <div class="container">
        <div class="text-center">
          <a class="nav-brand text-dark">VERIFY STUDENT</a>
        </div>
      </div>
    </nav>
  </header>

  <main id="site-main">

    <div class="container">



      <div class="header-group">

        <label for="name" class="text-dark"> Name </label>

        <input type="text" name="name" autocomplete="off" placeholder="Jaimin Rathwa">

        <label for="student_id" class="text-dark"> ID </label>

        <input type="text" name="student_id" autocomplete="off" placeholder="202006758">




        <a onclick="showHidden('class1');"> <span class="text-gradient border-shadow"> <i
              class="fa-sharp fa-solid fa-square-plus"></i> </span> </a>



      </div>

    </div>


    <div class="hiddenRow1 class1">

      <form action="/" method="post" id="update_user">
        <div class="new_user">
          <!-- <div class="form-group"> -->

          <label for="name" class="text-dark"> Name</label>
          <input type="hidden" name="id" value="">
          <input type="text" name="name" value="" placeholder="enter your name" autocomplete="off">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <label for="Email" class="text-dark"> Email </label>

          <input type="text" name="email" value="" placeholder="enter your email" autocomplete="off">
          <!-- </div> -->

          <!-- <div class="form-group"> -->
          <label for="cpi" class="text-dark"> CPI </label>

          <input type="text" name="cpi" placeholder="enter your CPI" autocomplete="off">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <label for="per10" class="text-dark"> 10th Percentage </label>

          <input type="text" name="per10" placeholder="87.00 %" autocomplete="off">
          <!-- </div> -->

          <!-- <div class="form-group"> -->
          <label for="per12" class="text-dark"> 12th percentage </label>

          <input type="text" name="per12" placeholder="86.00 %" autocomplete="off">
          <!-- </div> -->



        </div>
        <div class="btn1">
          <button type="submit" class="btns"> Verify </button>
          <button type="submit" class="btns"> Reject </button>
        </div>
      </form>

    </div>

    <div class="container">



      <div class="header-group">

        <label for="name" class="text-dark"> Name </label>

        <input type="text" name="name" autocomplete="off" placeholder="Hiten Mistry">

        <label for="student_id" class="text-dark"> ID </label>

        <input type="text" name="student_id" autocomplete="off" placeholder="202001182">




        <a onclick="showHidden('class2');"> <span class="text-gradient border-shadow"> <i
              class="fa-sharp fa-solid fa-square-plus"></i></span> </a>



      </div>

    </div>


    <div class="hiddenRow1 class2">

      <form action="/" method="post" id="update_user">
        <div class="new_user d-flex justify-between">
          <!-- <div class="form-group"> -->

          <label for="name" class="text-dark"> Name</label>
          <input type="hidden" name="id" value="">
          <input type="text" name="name" value="" placeholder="enter your name" autocomplete="off">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <label for="Email" class="text-dark"> Email </label>

          <input type="text" name="email" value="" placeholder="enter your email" autocomplete="off">
          <!-- </div> -->

          <!-- <div class="form-group"> -->
          <label for="cpi" class="text-dark"> CPI </label>

          <input type="text" name="cpi" placeholder="enter your CPI" autocomplete="off">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <label for="per10" class="text-dark"> 10th Percentage </label>

          <input type="text" name="per10" placeholder="87.00 %" autocomplete="off">
          <!-- </div> -->

          <!-- <div class="form-group"> -->
          <label for="per12" class="text-dark"> 12th percentage </label>

          <input type="text" name="per12" placeholder="86.00 %" autocomplete="off">
          <!-- </div> -->



        </div>
        <div class="btn1">
          <button type="submit" class="btns"> Verify </button>
          <button type="submit" class="btns"> Reject </button>
        </div>
      </form>

    </div>

    <div class="container">



      <div class="header-group">

        <label for="name" class="text-dark"> Name </label>

        <input type="text" name="name" autocomplete="off" placeholder="kirtan padhiyar">

        <label for="student_id" class="text-dark"> ID </label>

        <input type="text" name="student_id" autocomplete="off" placeholder="202001564">




        <a onclick="showHidden('class3');"> <span class="text-gradient border-shadow"> <i
              class="fa-sharp fa-solid fa-square-plus"></i> </span> </a>



      </div>

    </div>


    <div class="hiddenRow1 class3">

      <form action="/" method="post" id="update_user">
        <div class="new_user d-flex justify-between">
          <!-- <div class="form-group"> -->

          <label for="name" class="text-dark"> Name</label>
          <input type="hidden" name="id" value="">
          <input type="text" name="name" value="" placeholder="enter your name" autocomplete="off">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <label for="Email" class="text-dark"> Email </label>

          <input type="text" name="email" value="" placeholder="enter your email" autocomplete="off">
          <!-- </div> -->

          <!-- <div class="form-group"> -->
          <label for="cpi" class="text-dark"> CPI </label>

          <input type="text" name="cpi" placeholder="enter your CPI" autocomplete="off">
          <!-- </div> -->
          <!-- <div class="form-group"> -->
          <label for="per10" class="text-dark"> 10th Percentage </label>

          <input type="text" name="per10" placeholder="87.00 %" autocomplete="off">
          <!-- </div> -->

          <!-- <div class="form-group"> -->
          <label for="per12" class="text-dark"> 12th percentage </label>

          <input type="text" name="per12" placeholder="86.00 %" autocomplete="off">
          <!-- </div> -->



        </div>
        <div class="btn1">
          <button type="submit" class="btns"> Verify </button>
          <button type="submit" class="btns"> Reject </button>
        </div>
      </form>

    </div>












  </main>
</body>

</html>